/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* source-sans-pro-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/source-sans-pro-v21-latin-300.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url("/fonts/source-sans-pro-v21-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url("/fonts/source-sans-pro-v21-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/source-sans-pro-v21-latin-600.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url("/fonts/source-sans-pro-v21-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* orbitron-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/orbitron-v29-latin-600.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
        url("/fonts/orbitron-v29-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    @apply bg-slate-950 text-blue-50;
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-blue-900 scrollbar-thumb-rounded-full;
  }
}
